@charset "UTF-8";

h1 {
	color:#0000FF;
}

h2 {
	color:#FF0000;
}

div#main {
	margin-left: 13.5%;
	padding: 1em;
}

div#main h1 {
	border-bottom: 1px solid #b4b4b4;
	font-weight: normal;
	font-size: 2.4em;
	padding-left: .1em;
	margin-bottom: 1.5%;
}

.navbar a:active, .navbar a:hover {
	box-shadow: 0px 0px 44px #e9e9e9cc inset, 0px 0px 5px aliceblue;
	border-radius: 6px;
}

nav.bg-light {
    background-color: #006bd7 !important
}

.container {
	padding-top: 2em;
}

a.navbar-brand {
    color: white !important;
}

#sidebar-menu a + ul {
	display: none;
}

#sidebar-menu a.active + ul {
    padding-left: 0;
    background-color: #e7ffff;
    margin-bottom: 0;
    display: block;
}

#sidebar-menu li {
    list-style-type: none;
}

#sidebar-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    height: 100%;
    padding: 4% 0 4% 6%;
}

#sidebar-menu a {
    padding: 4% 0 4% 3%;
}

#sidebar-menu a.active {
    background-color: #009c96 !important;
	color: white !important;
	font-weight: bold;
}

#sidebar-menu a:hover {
    background-color: #c9ecff;
}

#sidebar-menu li a:hover {
    background-color: #e1f7fc;
}

#sidebar-menu a, #sidebar-menu li {
	cursor: pointer;
	display: inline-block;
	width: 100%;
}

#sidebar-menu {
    padding: 5%;
}

#sidebar {
    width: 13.5%;
    height: 90.7%;
    max-height: 100%;
    position: absolute;
    top: 56px;
    z-index: 999;
    background-color: #d7e1ea;
    box-shadow: 0px 1px 5px;
    min-width: 6em;
}

[type="search"] {
    -webkit-appearance: textfield !important;
}

#clients_wrapper {
	width: 96%;
	margin: auto;
}

.show, .edit, .delete {
    display: inline-block;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.show {
	background: transparent url("/images/glass.png") no-repeat right top;
	background-size: 15px;
}

.edit {
	background: transparent url("/images/pen.png") no-repeat right top;
	background-size: 15px;
}

.delete {
	background: transparent url("/images/delete.png") no-repeat right top;
	background-size: 14px;
}

table.dataTable.display tbody tr.odd {
	background-color: #daebf6 !important;
}

td[class^="sorting"] {
    background-color: transparent !important;
}

#add-client {
	float: right;
	margin-right: 6.5%;
}

#clients td:last-child, #clients th:last-child {
    text-align: center;
}

.ui-widget-header {
	background: dodgerblue !important;
	color: white !important;
}

.ui-dialog-buttonset button {
    background-color: dodgerblue;
    color: white;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    padding-top: 2px;
    width: 5.5em;
    text-align: center;
}